
body {
    background: url(https://i.ebayimg.com/images/g/iSwAAOSwXIpjJi76/s-l1200.webp) ; 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}