
body {
    background: url(https://wallpapers.com/images/hd/rick-and-morty-cool-galaxy-themed-poster-t3ynu5ly9m7jq6e2.jpg) ; 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}